*{
    margin: 0;
    border: border-box;
    font-family: sans-serif;
}
body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(-110deg,#000000, #2f1343, #000000);
  background-blend-mode: overlay;
  color: white;
  font-family: sans-serif;
  
}
hr{
    background-color: rgb(48, 48, 48);
    height: 1px;
    border: none;
}
#intro{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
    height: 500px;
    background-image:url('Arpon.jpg');
    background-size: cover;
    background-position: center;
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    backdrop-filter: blur(10px);
    border-radius: 5px;
}

#name {
    display: flex;
    justify-content: center;
    font-family: Imperial Script;
    font-size: 40px;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(100%);
    height: 50px;
    width: 350px;
    border-radius: 10px;
    margin: auto;
    text-transform: capitalize;
    box-shadow: 0 4px 30px gray;
    position: relative;
    top: -70px;
      background:linear-gradient(150deg, rgb(58, 0, 85,0.5),rgb(30, 10, 104,0.5),rgb(97, 0, 0,0.5));
    padding: 10px;
    
    
}

#navbar{
    width: 90vw;
    height: 60px;
    background:transparent;
    backdrop-filter: blur(10px);
    border: 1px solid gray;
    border-radius: 10px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 22px;
  
}
#navbar a{
    text-decoration: none;
    background: linear-gradient(to right, #00f0ff, #6e00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: larger;
    text-transform: capitalize;
}
#navbar a:hover{
    font-weight: bold;
   /* text-decoration: underline;*/
}
#home{
    height: 30px;
    width: 88px;
    font-size: 25px;
  
    border-radius: 5px;
    align-content: center;
    margin: auto;
    margin-top: 50px;
    background:linear-gradient(150deg, rgb(58, 0, 85),rgb(30, 10, 104),rgb(97, 0, 0));
    padding: 10px;
    position: relative;
    box-shadow: 0 0 10px gray;
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@keyframes spin{
    from{--angle:0deg}
    to{--angle:360deg}
}
#home::after,#home::before{
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   translate: -50% -50%;
   width: 100%;
   height: 100%;
   background-image: conic-gradient(from var(--angle),rgb(2, 6, 68),rgb(65, 7, 80),rgb(2, 6, 68));
   padding: 5px;
   z-index: -1;
   border-radius: 10px;
   animation: 2s spin linear infinite;
   z-index: -1;
}
#home::before{
    filter: blur(500px);
    opacity: 1;
}

#id{
    height: 500px;
   /* background-color: #1f0439;*/
   /* border: 1px solid rgb(48, 48, 48);*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  /*  background-color: rgba(240, 248, 255, 0.091);*/
}
#card{
    width: 300px;
    height: 450px;
    background: blur(10px);
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0px 0px 20px gray;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-image: url(card.webp);
    background-size: cover;
}
/*#card:hover{
    transform: scale(1.2);
}*/
#profile-b{
    width: 90%;
    height: 150px;
    background: transparent;
    border: 1px solid gray;
    margin-top: 10px;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 20px  #1f0439;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
}
#profile{
    width: 120px;
    height: 120px;
    background-color: aliceblue;
    border-radius: 50%;
    border: 1px solid gray;
    margin-top: 10px;
    background-image: url(arponback.jpg);
    background-size: cover;
    border: 1px solid rgb(141, 141, 214);
    box-shadow: 0px 0px 20px  #1f0439;
}
#detail{
    width: 260px;
    height: 260px;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 50px rgb(0, 0, 0);
    border-radius: 10px;
    border: 1px solid gray;
    
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow: hidden;
}
#detail li{
    font-size: 15px;
    color: #ffffff;
    font-weight: bold;
   /* -webkit-text-stroke: 1px white;*/
}
#detail li a{
    color: rgb(255, 220, 220);
}
#writing{
    text-align: center;
    font-size: 17px;
    width: 500px;
    height: 250px;
     background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 20px gray;
    border-radius: 10px;
    border: 1px solid gray;
    overflow: hidden;
    padding: 10px;
    background-color: rgba(240, 248, 255, 0.091);
}
/*#writing:hover{transform: scale(1.2);}*/

#skill{
     height: 35px;
    width: 88px;
    font-size: 25px;
    position: relative;
    border-radius: 5px;
    align-content: center;
    margin: auto;
     margin-top: 50px;
     padding: 10px;
    background:linear-gradient(150deg, rgb(58, 0, 85),rgb(30, 10, 104),rgb(97, 0, 0));
     box-shadow: 0 0 10px gray;
}
#skill::after,#skill::before{
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   translate: -50% -50%;
   width: 100%;
   height: 100%;
   background-image: conic-gradient(from var(--angle),rgb(2, 6, 68),rgb(65, 7, 80),rgb(2, 6, 68));
   padding: 5px;
   z-index: -1;
   border-radius: 10px;
   animation: 2s spin linear infinite;
   z-index: -1;
}
#skill::before{
    filter: blur(500px);
    opacity: 1;
}

#skill-b{
    height: 500px;
   
  /*  border: 1px solid rgb(48,48,48);*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box{
    height: 450px;
    width: 300px;
    background-color: rgba(240, 248, 255, 0.091);
    border: 1px solid gray;
    box-shadow: 0 0 10px gray;
    backdrop-filter: blur(10px);
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow-Y: scroll;
    scrollbar-width: none;

}
#box1{
    height: 450px;
    width: 300px;
     background-color: rgba(240, 248, 255, 0.091);
    border: 1px solid gray;
    box-shadow: 0 0 10px gray;
    backdrop-filter: blur(10px);
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow-y: hidden;  
}

    @keyframes scrollVertical {
    0% {
        transform: translateY(10%);
    }
    25%{
        transform: translateY(-100%)
    }
    50%{
        transform: translateY(-200%)
    }
    75%{
        transform: translateY(-100%)
    }
    100%{
        
        transform: translateY(10%)
    
    }

    
   
}

#box1 img{
   width: 300px;
   height: 400px;
   animation: scrollVertical 15s linear infinite;
   object-fit: cover;
}
#box2{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
#box2-p{
    width: 90%;
    height: 250px;
    background-color: antiquewhite;
    background-image:url(guitar.jpg) ;
    background-size: cover;
    border-radius: 10px;
    border: 1px solid rgb(48, 48, 48);
}
#project{
    height: 35px;
    width: 150px;
    font-size: 25px;
    border-radius: 5px;
    align-content: center;
    margin: auto;
    margin-top: 50px;
    background:linear-gradient(150deg, rgb(58, 0, 85),rgb(30, 10, 104),rgb(97, 0, 0));
    padding: 10px;
    position: relative;
      box-shadow: 0 0 10px gray;
}
#project::after,#project::before{
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   translate: -50% -50%;
   width: 100%;
   height: 100%;
   background-image: conic-gradient(from var(--angle),rgb(2, 6, 68),rgb(65, 7, 80),rgb(2, 6, 68));
   padding: 5px;
   z-index: -1;
   border-radius: 10px;
   animation: 2s spin linear infinite;
   z-index: -1;
}
#project::before{
    filter: blur(500px);
    opacity: 1;
}
#project-b{
     height: 500px;
   
  /*  border: 1px solid rgb(48,48,48);*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#box4{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 10px;
   gap: 5px;
}
#box4-p{
      width: 90%;
    height: 250px;
    background-color: antiquewhite;
    background-image:url(car.png) ;
    background-size: cover;
    border-radius: 10px;
    border: 1px solid rgb(48, 48, 48);
}
#box4 a{
    
    color: white;
}
#experience{
    height: 35px;
    width: 150px;
    font-size: 25px;

    box-shadow: 0 0 10px gray;
    border-radius: 5px;
    align-content: center;
    margin: auto;
    margin-top: 50px;
   background:linear-gradient(150deg, rgb(58, 0, 85),rgb(30, 10, 104),rgb(97, 0, 0));
    padding: 10px;
    position: relative;
}
#experience::after,#experience::before{
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   translate: -50% -50%;
   width: 100%;
   height: 100%;
   background-image: conic-gradient(from var(--angle),rgb(2, 6, 68),rgb(65, 7, 80),rgb(2, 6, 68));
   padding: 5px;
   z-index: -1;
   border-radius: 10px;
   animation: 2s spin linear infinite;
   z-index: -1;
}
#experience::before{
   
    filter: blur(500px);
    opacity: 1;
}
#exp{
    height: 550px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#exp-1{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 20px;
   gap: 5px;
   font-size: 15px;
   text-align: center;
 
}

#exp1-p{
      width: 90%;
    height: 250px;
    background : transparent;
    background-size: cover;
    border-radius: 10px;
  /*  border: 1px solid rgb(48, 48, 48);*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 0px;
    
   
}


.exp-photo{
    width: 130px;
    height: 100px;
    border: 1px solid rgb(48, 48, 48);
    border-radius: 10px;
    background-color: #00f0ff;
}
#photo-1{ background-image: url(exp1.jpg);background-size: cover;}
#photo-2{ background-image: url(exp2.jpg);background-size: cover;}
#photo-3{ background-image: url(exp3.jpg);background-size: cover;}
#photo-4{ background-image: url(exp4.jpg);background-size: cover;}
#exp-2{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 20px;
   gap: 5px;
   font-size: 15px;
   text-align: center;
}

#exp2-p{
      width: 90%;
    height: 250px;
    background : transparent;
    background-size: cover;
    border-radius: 10px;
  /*  border: 1px solid rgb(48, 48, 48);*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 0px;
  
}
.exp-photo{
    width: 130px;
    height: 100px;
    border: 1px solid rgb(48, 48, 48);
    border-radius: 10px;
    background-color: #00f0ff;
}
#photo-5{ background-image: url(exp5.jpg);background-size: cover;}
#photo-6{ background-image: url(exp6.jpg);background-size: cover;}
#photo-7{ background-image: url(exp7.jpg);background-size: cover;}
#photo-8{ background-image: url(exp8.jpg);background-size: cover;}

#biography{
    height: 35px;
    width: 140px;
    font-size: 25px;
    box-shadow: 0 0 10px gray;
    border-radius: 5px;
    align-content: center;
    margin: auto;
     margin-top: 50px;
     background:linear-gradient(150deg, rgb(58, 0, 85),rgb(30, 10, 104),rgb(97, 0, 0));
    padding: 10px;
    position: relative;
}

#biography::after,#biography::before{
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   translate: -50% -50%;
   width: 100%;
   height: 100%;
   background-image: conic-gradient(from var(--angle),rgb(2, 6, 68),rgb(65, 7, 80),rgb(2, 6, 68));
   padding: 5px;
   z-index: -1;
   border-radius: 10px;
   animation: 2s spin linear infinite;
   z-index: -1;
}
#biography::before{
    filter: blur(500px);
    opacity: 1;
}
#bio{
    height: 550px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
   
   
}
@keyframes flip{
    0%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(180deg);
    }
  /*  100%{
        transform: rotateY(360deg);
    }
   /* to{
        transform: rotateY(360deg);
    }*/
}
#bio1{
    height: 450px;
    width: 400px;
    border-radius: 10px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    box-shadow: 0 0 50px gray;
    animation: flip  linear ;
   
    animation-timeline: view();
    animation-range: entry 58% cover 60%;
   
}
#bio1front{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #6e00ff;
    background-image: url(pic1.jpg);
    background-size: cover;
    position: absolute;
    backface-visibility: hidden;

    
}
#bio1back{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: transparent;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    overflow: hidden;
    padding: 20px;
    font-size: 25px;
    text-decoration: none;
    background: linear-gradient(to right, #00f0ff, #6e00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      text-decoration: none;
    background: linear-gradient(to right, #00f0ff, #6e00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

#bio1:active,#bio1:hover{
    transform: rotateY(180deg);
    box-shadow: 0 0 70px gray;
}

#about::after,#about::before{
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   translate: -50% -50%;
   width: 100%;
   height: 100%;
   background-image: conic-gradient(from var(--angle),rgb(2, 6, 68),rgb(65, 7, 80),rgb(2, 6, 68));
   padding: 5px;
   z-index: -1;
   border-radius: 10px;
   animation: 2s spin linear infinite;
   z-index: -1;
}

#about{
    height: 35px;
    width: 88px;
    font-size: 25px;
    box-shadow: 0 0 10px gray;
    border-radius: 5px;
    align-content: center;
    margin: auto;
     margin-top: 50px;
     background:linear-gradient(150deg, rgb(58, 0, 85),rgb(30, 10, 104),rgb(97, 0, 0));
    padding: 10px;
    position: relative;
}
#about::before{
    filter: blur(500px);
    opacity: 1;
}

#about-w{
    width: 400px;
    height: 200px;
    background: transparent;
    background-color: rgba(240, 248, 255, 0.091);
    margin: auto;
    margin-top: 10px;
    border-top-left-radius:10px ;
    border-bottom-right-radius:10px ;
    padding: 50px;
    border: 1px solid rgb(48, 48, 48);
    font-size: 25px;
    text-align: center;
}
#ABOUT{
    height: 400px;
}
#contact{
    width: 80vw;
    height: 60px;
    background:transparent;
    backdrop-filter: blur(10px);
    border: 1px solid gray;
    border-top-left-radius:10px ;
    border-bottom-right-radius:10px ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    margin: auto;
    margin-top: 10px;
    font-size: 30px;
}
#contact a{
    color: white;
}
#right{
    text-align: center;
   
}
#right h5{
      color: rgba(255, 253, 253, 0.11);
       font-size: 20px;
       -webkit-text-stroke: 1px white;
}
@keyframes animate{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.animation{
    animation: animate linear;
    animation-timeline: view();
    animation-range: entry 0;
}
