*{
    margin: 0;
    border: border-box;
    font-family: sans-serif;
}
body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(90deg,#000000, #2f1343, #000000);
  background-blend-mode: overlay;
  color: white;
  font-family: sans-serif;
}
hr{
    background-color: rgb(48, 48, 48);
    height: 1px;
    border: none;
}
#intro{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: transparent;
    height: 500px;
  /*  background-color: rgba(240, 248, 255, 0.091);*/
    backdrop-filter: blur(10px);
  /*  border: 1px solid rgb(48, 48, 48);*/
    border-radius: 5px;
}
#intro-w{
    display: flex;
    text-align: center;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(10px);
    height: 250px;
    width: 400px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    text-transform: capitalize;
    box-shadow: 0 4px 30px gray;
     background-color: rgba(240, 248, 255, 0.091);

}   
#intro-w:hover{
 transform: scale(1.2);
}
#intro-p{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: aliceblue;
    border: 10px solid rgb(119, 119, 119);
    background-image: url(profile2.jpg);
    background-size: cover;
    box-shadow: 0px 0px 10px gray;

}
#name{
    display: flex;
    justify-content: center;
    font-family: Imperial Script;
    font-size: 40px;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(100%);
    height: 50px;
    width: 350px;
    border-radius: 10px;
    margin: auto;
    text-transform: capitalize;
    box-shadow: 0 4px 30px gray;
    position: relative;
    top: -70px;
    
}
#navbar{
    width: 80vw;
    height: 60px;
    background:transparent;
    backdrop-filter: blur(10px);
    border: 1px solid gray;
    border-radius: 10px;
    position: fixed;
    top: 10px;
    left: 90px;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
}
#navbar a{
    text-decoration: none;
    color: aliceblue;
    font-size: larger;
    text-transform: capitalize;
}
#navbar a:hover{
    font-weight: bold;
    text-decoration: underline;
}
#home{
    height: 30px;
    width: 88px;
    font-size: 25px;
    background:transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px gray;
    border: 1px solid gray;
    border-radius: 5px;
    align-content: center;
    margin: auto;
     margin-top: 50px;
}
#id{
    height: 500px;
   /* background-color: #1f0439;*/
   /* border: 1px solid rgb(48, 48, 48);*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  /*  background-color: rgba(240, 248, 255, 0.091);*/
}
#card{
    width: 300px;
    height: 450px;
    background: blur(10px);
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0px 0px 20px gray;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-image: url(83598a5ab3f5371e7662b565836c0c39.jpg);
    background-size: cover;
}
/*#card:hover{
    transform: scale(1.2);
}*/
#profile-b{
    width: 90%;
    height: 150px;
    background: transparent;
    border: 1px solid gray;
    margin-top: 10px;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 20px  #1f0439;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
}
#profile{
    width: 120px;
    height: 120px;
    background-color: aliceblue;
    border-radius: 50%;
    border: 1px solid gray;
    margin-top: 10px;
    background-image: url(arponback.jpg);
    background-size: cover;
    border: 1px solid rgb(9, 9, 75);
    box-shadow: 0px 0px 20px  #1f0439;
}
#detail{
    width: 260px;
    height: 290px;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 50px gray;
    border-radius: 10px;
    border: 1px solid gray;
    
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#detail li{
    font-size: 15px;
    color: #2f1343;
    font-weight: bold;
}
#detail li a{
    color: black;
}
#writing{
    text-align: center;
    font-size: 17px;
    width: 500px;
    height: 250px;
     background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 20px gray;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 10px;
      background-color: rgba(240, 248, 255, 0.091);
}
/*#writing:hover{transform: scale(1.2);}*/

#skill{
     height: 35px;
    width: 88px;
    font-size: 25px;
    background:transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px gray;
    border: 1px solid gray;
    border-radius: 5px;
    align-content: center;
    margin: auto;
     margin-top: 50px;
}
#skill-b{
    height: 500px;
   
  /*  border: 1px solid rgb(48,48,48);*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box{
    height: 450px;
    width: 300px;
    background-color: rgba(240, 248, 255, 0.091);
    border: 1px solid gray;
    box-shadow: 0 0 10px gray;
    backdrop-filter: blur(10px);
}
/*.box:hover{
    transform: scale(1.1);
    font-weight: bold;
}*/
#box1{
    background: transparent;
    background-image: url(website.png);
    background-size: cover;
   
}
#box2{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
#box2-p{
    width: 90%;
    height: 250px;
    background-color: antiquewhite;
    background-image:url(guitar.jpg) ;
    background-size: cover;
    border-radius: 10px;
    border: 1px solid rgb(48, 48, 48);
}
#project{
    height: 35px;
    width: 150px;
    font-size: 25px;
    background:transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px gray;
    border: 1px solid gray;
    border-radius: 5px;
    align-content: center;
    margin: auto;
    margin-top: 50px;
}
#project-b{
     height: 500px;
   
  /*  border: 1px solid rgb(48,48,48);*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#box4{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 10px;
   gap: 5px;
}
#box4-p{
      width: 90%;
    height: 250px;
    background-color: antiquewhite;
    background-image:url(car.png) ;
    background-size: cover;
    border-radius: 10px;
    border: 1px solid rgb(48, 48, 48);
}
#box4 a{
    
    color: white;
}
#about{
    height: 35px;
    width: 88px;
    font-size: 25px;
    background:transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px gray;
    border: 1px solid gray;
    border-radius: 5px;
    align-content: center;
    margin: auto;
     margin-top: 50px;
}
#about-w{
    width: 400px;
    height: 200px;
    background: transparent;
    background-color: rgba(240, 248, 255, 0.091);
    margin: auto;
    margin-top: 10px;
    border-top-left-radius:10px ;
    border-bottom-right-radius:10px ;
    padding: 10px;
    border: 1px solid rgb(48, 48, 48);
    font-size: 25px;
    text-align: center;
}
#five{
    height: 400px;
}
#contact{
    width: 80vw;
    height: 60px;
    background:transparent;
    backdrop-filter: blur(10px);
    border: 1px solid gray;
    border-top-left-radius:10px ;
    border-bottom-right-radius:10px ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    margin: auto;
    margin-top: 10px;
    font-size: 30px;
}
#contact a{
    color: white;
}
#right{
    text-align: center;
   
}
#right h5{
      color: rgba(255, 253, 253, 0.11);
       font-size: 20px;
       -webkit-text-stroke: 1px white;
}
@keyframes animate{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.animation{
    animation: animate linear;
    animation-timeline: view();
    animation-range: entry 0;
}