 @media (min-width: 430px) and (max-width: 1024px){
#writing{
    width: 200px;
     overflow: scroll;
    scrollbar-width: none;
}

#exp,#skill-b,#id-b,#project-b,#bio{
   height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top:50px;
    gap:10px;
  }
  #bio1,#bio2{
    height: 400px;
    width: 350px;}

}
